/*Nia Manning
 7-28-2025
 Guided Inquiry #7 */

 /* Colors that I want to use: Pastel Colors*/
 /* #b1cf92 #97caa2 #8dc7af #8bc0ca #8eaadf
 #df9cb6 #ecbdcf #d5eee3 #b2dac9 #8dc7af
 #e9b590 #f3cdb5  #b2dac9 #c5bbee*/

 body{
    background-color: #5ba300;
    font-family: system-ui;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#pun{
    top: 0;
    position: absolute;
    color: black;
    text-align: center;
}
#calcContainer{
    background-color: #a897e2;
    border-radius: 10px;
    max-width: 315px;
    overflow: hidden;
}
#calcDisplay{
    text-align: right;
    width: 90%;
    padding: 20px 300px 20px 20px;
    /* padding-right:200px; */
    /* margin: auto; */
    font-size: 2rem;
    border: none;
    background-color: #c5bbee;
    color: black;
    overflow: hidden;
}
#calcBtn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 40px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #df9cb6;
    color: black;
    font-family: calc-font;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
} button:hover{
    opacity: 80%;
 }button:active{
    background-color: #ecbdcf;
}
.operator-btn{
    background-color: #8bc0ca;
}.operator-btn:hover{
     opacity: 80%;
} .operator-btn:active{
     background-color: #8dc7af;
}

@font-face {
    font-family: calc-font;
    src: url(fonts/digital-7.ttf);
}